<a href="https://colab.research.google.com/github/DevMachTech/notebooks/blob/master/Copy_of_datafest_jennifer_ebe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A data pipeline is a set of processes and technologies used to extract, transform, and load (ETL) data from various sources to a destination. A data pipeline moves and transforms data to make it more useful and valuable to the end users. Data pipelines are typically built using tools and technologies, such as database systems, programming languages, ETL frameworks, and cloud services.

A data pipeline includes several steps: the data ingestion/extraction step, the transformation/processing step, and the data loading step.

You can find more about this on https://medium.com/@ebejennifer14/expert-tips-essential-considerations-for-building-a-robust-data-pipeline-c01a0ffc0eea

In [ ]:
# Import Pandas and SQL Alchemy as libraries that would be used in Creating ETLS
import pandas as pd
import sqlalchemy as db

In [ ]:
url = 'https://thedocs.worldbank.org/en/doc/92631f5aa8ecaed440d9b2e0ab8810e7-0050062021/original/Global-Financial-Development-Database-11-1-2021.xlsx'
# create an database engine using the format dialect+driver://username:password@host:port/database
# for example the engine below, ### Note: My engine will not work for you, you have to create on yourself (check the loading step)
engine = db.create_engine('postgresql://awfaglyr:WO7toJY9cCOI0XX33DOHwvek6GZOMPLl@flora.db.elephantsql.com/awfaglyr')

Extraction: We would be extracting the World Bank data from the URL importing the "Data - November 2021" sheet specifically

In [ ]:
df = pd.read_excel(url, sheet_name='Data - November 2021')
df.head()

,iso3,iso2,imfn,country,region,income,year,ai01,ai02,ai03,...,oi14,oi15,oi16,oi16a,oi17,oi18,oi19,oi20a,om01,om02
0,ABW,AW,314,Aruba,Latin America & Caribbean,High income,1960,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,AW,314,Aruba,Latin America & Caribbean,High income,1961,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,AW,314,Aruba,Latin America & Caribbean,High income,1962,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,AW,314,Aruba,Latin America & Caribbean,High income,1963,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,AW,314,Aruba,Latin America & Caribbean,High income,1964,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Transformation: Selecting 5 Columns and the first 2000 Rows

In [ ]:
updated_df = df[['imfn','country','region','income' ,'year']]
updated_df = updated_df[:2000]
updated_df.head()
updated_df.shape

(2000, 5)

Loading the data: We used Elephant SQL https://www.elephantsql.com/plans.html you can create a free postgresql database using the link above and copy your URL in the details tab.
It comes in the form of "postgres://awfaglyr:WO7toJY9cCOI0XX33DOHwvek6GZOMPLl@flora.db.elephantsql.com/awfaglyr"
do not forget to add ql to postgres which will make it "postgresql://awfaglyr:WO7toJY9cCOI0XX33DOHwvek6GZOMPLl@flora.db.elephantsql.com/awfaglyr".
We loaded our data naming it world_bank_excel

![Alt text](untitled:Untitled-1.ipynb/image.png?jupyter-notebook)

In [ ]:
updated_df.to_sql('world_excel', engine,
                  if_exists='replace',
                  index=False,
                  method='multi')


# You can query your data in elephant sql using the browser tab

2000

Shameless Plug
- I own a medium blog where I share data engineering knowledge - Learning Path and Day to Day Tasks for data engineers
Follow me on Medium here - https://medium.com/@ebejennifer14

- You can also reach out to me on Twitter at jennifer_ebe

- LinkedIn - Jennifer Ebe

I am rooting for you! go kill it!